*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #393E41;
}

header h1{
    text-align: center;
    color:white;
    font-family: "Montserrat", sans-serif;
}

.inputBox{
    height: 100%;
    width: 100%;
    margin: 10px 5px;
    position: relative;
}
.inputBox input{
    height: 100%;
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: none;
    outline: none;
    font-size: 17px;
    color:#fff;
    background-color: #393E41;
    border-bottom: 2px solid silver;
}

.inputBox label{
    position: relative;
    bottom: 55px;
    left: 0;
    color: grey;
    pointer-events: none;
}
.inputBox input:focus + label{
    color: rgb(58, 186, 196);
    transition: all 0.3s ease;
}

.inputBox .underline{
    position: relative;
    bottom: 21px;
    height: 2px;
    width: 100%;
}
.error{
    color: red!important;
}

.terms_conditions{
    color: #fff;
}
.terms_conditions input{
    height: 20px;
    width: 20px;
}
.terms_conditions a{
    color: #2758df;
}

button{
    position: relative;
    height: 40px;
    width: 120px;
    margin: 40px 140px;
}

.inputBox #solo{
    position: static;
}

.inputBox #solo2{
    position: static;
}

.inputBox #region{
    padding: 10px 6px;
    margin: 20px 0px;    
}

.inputBox #comuna{
    padding: 10px 6px;
    margin: 20px 0px; 
}
