<br>
<hr>
<br>
<div style="padding: 0px 40px;">
  <ion-button shape="round" size="medium" expand="full" color="light" style="display: flex; align-items: center;">
    <ion-icon name="logo-google" style="flex-shrink: 0; margin-right: 8px;"></ion-icon>
    <span style="flex-grow: 1;">Login with Google</span>
  </ion-button>
</div>
<div style="padding: 10px 40px;">
  <ion-button shape="round" size="medium" expand="full" color="primary" style="display: flex; align-items: center;">
    <ion-icon name="logo-facebook" style="flex-shrink: 0; margin-right: 8px;"></ion-icon>
    <span style="flex-grow: 1;">Login with Facebook</span>
  </ion-button>
</div>