<ion-content>
  
  <h1 align="center" style="margin-top: 100px;">Login</h1>
  
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <!-- INPUT username -->
    <div class="registro" style="padding: 20px;">
      <p *ngIf="errorMessage" class="centered-text" style="color: red;">{{ errorMessage }}</p>

      <ion-input
        label="Username"
        formControlName="username"
        label-placement="stacked" 
        [errorText]="formError('username')"
        fill="solid">
         <div slot="label">Username <ion-text color="danger">(requerido)</ion-text></div>
      </ion-input>
      
      <br>
      
      <!-- INPUT contraseña -->
      <ion-input 
        label="Password"
        type="password" 
        formControlName="password"
        labelPlacement="floating" 
        [errorText]="formError('password')"
        fill="solid" 
        placeholder="Type your password">
          <div slot="label">Contraseña <ion-text color="danger">(requerido)</ion-text></div>
          <ion-input-password-toggle color="medium" slot="end"></ion-input-password-toggle>
      </ion-input>

      <p class="centered-text" style="margin-top: -5px;"><a>Forgot password?</a></p>
    </div>
    
    <!-- botón login -->
    <div style="padding: 0px 40px;">
      <ion-button 
        shape="round" 
        size="medium" 
        expand="full" 
        color="primary"
        type="submit"
        [disabled]="!formulario.valid"
        >login</ion-button>
        
      <p class="centered-text">Don't have an account? <a routerLink="/cuenta/registro/">Signup</a></p>
    </div>
  </form>
 <app-continue-with></app-continue-with>
  
</ion-content>