@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.card-title{
    font-family: 'Montserrat', sans-serif !important;
}

.status{
    display: inline-block;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border-radius: 4px;
    
  }

.card{
    background-color: #f7f7f7;
    margin: 20px auto;
}