/*Íconos*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  ;
}

/*Ajustes Generales*/

body {
    background-color: #393E41;
    font-family: "Tilt Neon", sans-serif;
}

a {
    display: contents;
}

/*Header*/


.header {
    display: flex;
    margin: 10px 20px 20px 20px;
    padding: 20px 30px 20px 30px;
    background-color: #008184;
    border-radius: 30px;
}

.logodate {
    display: grid;
    align-items: center;
    margin-right: auto;
    font-size: larger;
}

.logo {
    display: flex;
    height: 40px;
    width: 120px;
    font-size: larger;
    align-items: center;
}

.date {
    display: flex;
    height: 20px;
    width: 120px;
    font-size: small;
    align-items: center;
}

.profile {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0;
    border-radius: 50px;
}

.profile img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

/*Section*/

.main_section {
    display: grid;
    margin: auto;
    align-content: center;
    align-items: center;
}

.curved_content{
    display: grid;
    background-color: #f6f7eb;
    border-radius: 50px;
    width: auto;
    height: 450px;
    margin: 20px;
    padding: 20px
}

.option{
    display: grid;
    background-color: #008184;
    border-radius: 50px;
    width: auto;
    height: auto;
    margin: 10px 0px 10px 0px;
    padding: 20px 20px 20px 20px;
}

.title{
    display: block;
    align-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0px 10px 0px 10px;
    font-size: larger;
}

.data{
    display: block;
    align-content: center;
    width: auto;
    height: auto;
    padding: 0px 10px 0px 10px;
    color: #fb4d3d;
    text-shadow: #393E41
}

#last_connection .data {
    color: black;
}

/*Footer*/

.footer_content{
    display: flex;
    position: fixed;
    margin: 10px 0px 0px 0px;
    padding: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 30px;
    border-radius: 35px 35px 0px 0px;
    background-color: #f6f7eb;
}

.footer_option{
    display: grid;
    margin: auto;
    padding: auto;
    justify-content: center;
}

.img_option{
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    width: auto;
    height: auto;
    color: #393E41;
}

.option_name{
    display: block;
    margin: auto;
    padding: auto;
    color: #393E41;
}