/*Íconos*/

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    ;
}

.arrowback {
    font-size: 36px !important;
    color: #f6f7eb;
}
  
/*Ajustes Generales*/
  
body {
    background-color: #393E41;
    font-family: "Tilt Neon", sans-serif;
    height: 100%;
}
  
a {
    display: contents;
}

/*Header*/

.header {
    display: grid;
    margin: 0;
    padding: 20px 30px 20px 30px;}

.icon_components {
    display: flex;
    justify-content: space-between;
}

.return_option {
    align-self: center;
}

.icon_components img {
    border-radius: 100px;
    width: 60px;
    height: 60px;
}

.section_title {
    display: flex;
    justify-content: left;
    color: #f6f7eb;
    font-size: 36px;
}

/*Section*/

.stats_section {
    display: grid;
    margin: 0px 20px 0px 20px;
    width: auto;
    height: 100%;
}

.stats_details {
    display: grid;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: auto;
    height: 50%;
}

.stat_display {
    display: flex;
    margin: 0;
    justify-content: center;
    width: auto;
    height: 140px;
}

.stat_format {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

.single_format {
    width: auto;
}

.group_format {
    width: 100%;
}

.title {
    display: flex;
    margin: 10px 0px 10px 0px;
    justify-content: center;
    color: #f6f7eb;
    font-size: 25px;
    height: max-content;
}

.data_shape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

.shape_squared {
    margin: auto;
    width: 80px;
    border-radius: 20px;
}

.shape_rectangle {
    margin: auto;
    width: 80%;
    border-radius: 50px;
}

.color_blue {
    background-color: #008184;
}

.color_green {
    background-color: #A2D97F;
}

.color_red {
    background-color: #DC6969;
}

.color_purple {
    background-color: #A087E8;
}

.stats_history {
    display: grid;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: auto;
    height: max-content;
}

.stats_area {
    display: grid;
    position: sticky;
    top: 0;
    bottom: 0;
    margin: 10px 0px 10px 0px;
    width: auto;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 20px;
    background-color: #A2D97F;
}

.recent_sessions {
    display: flex;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    width: auto;
    height: 60px;
    justify-content: space-between;
}

/*Footer*/

.footer_content{
    display: flex;
    position: fixed;
    margin: 10px 0px 0px 0px;
    padding: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 30px;
    border-radius: 35px 35px 0px 0px;
    background-color: #f6f7eb;
}

.footer_option{
    display: grid;
    margin: auto;
    padding: auto;
    justify-content: center;
}

.img_option{
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    width: auto;
    height: auto;
    color: #393E41;
}

.option_name{
    display: block;
    margin: auto;
    padding: auto;
    color: #393E41;
}