header h1{
    text-align: center;
    color:white;
}



input{
    height: 30px;
    width: 90%;
    margin: 15px;
    border-radius: 10px;

}

select{
    height: 35px;
    width: 92%;
    margin: 15px;
    border-radius: 10px;
}

div.abajo input{
    transform: scale(1.5);
    width: auto;
    height: auto;
}

div.abajo label{
    font-size: 20px;
    color: white;
}

a{
    font-size: 20px;
    color: white;
}

button{
    height:50px;
    width:150px;
    font-size: medium;
    position:fixed;
    left:33%;
    top:75%;
}

body{
    background-color: #393E41;
}
