<ion-card>
  <ion-card-header>
    <ion-card-title>Rutas Pasadas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Código: Trip8</ion-label>
        <ion-label>Fecha: 26/05/2024</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>Código: Trip6</ion-label>
        <ion-label>Fecha: 24/05/2024</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>Código: Trip4</ion-label>
        <ion-label>Fecha: 22/05/2024</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>Código: Trip3</ion-label>
        <ion-label>Fecha: 21/05/2024</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>