<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="monitorear">
      <ion-icon name="git-network-outline"></ion-icon>
      Monitorear
    </ion-tab-button>
    <ion-tab-button tab="conectar">
      <ion-icon name="bluetooth-outline"></ion-icon>
      Conectar
    </ion-tab-button>
    <ion-tab-button tab="informacion">
      <ion-icon name="information-circle-outline"></ion-icon>
      Información
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>